{% extends "layout.html" %}
{% block content %}
    <h1>About</h1>
    <p>Due to MCO, we hardly have the chance to be able to meet up with our friends. As a university student, I think that
    maintaining a good relationship with our friends is also essential besides working hard in our academics.</p>
    
    
    <p>So this platform is for me and my friends to share some interesting stories and keep in touch with each other:p</p>
    
    <p>Further functions such as comments hopefuly will be available soon (if I am free;-;)</p>
{% endblock content %}